<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.studentmanage">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.UpdateTKB"></activity>
        <activity android:name=".Activity.ActivityTKB" />
        <activity android:name=".Activity.UpdateThongBao" />
        <activity android:name=".Activity.AddTKB" />
        <activity android:name=".Activity.ActivityDiem" />
        <activity android:name=".Activity.SearchSinhVien" />
        <activity android:name=".Activity.ActivityDangKy" />
        <activity android:name=".Activity.ActivityLogin" />
        <activity android:name=".Activity.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.ActivitySinhVien" />
        <activity android:name=".Activity.ActivityLop" />
        <activity android:name=".Activity.UpdateSinhVien" />
        <activity android:name=".Activity.UpdateLop" />
        <activity android:name=".Activity.AddSinhVien" />
        <activity android:name=".Activity.AddLop" />
        <activity android:name=".Activity.UpdateKhoa" />
        <activity android:name=".Activity.AddKhoa" />
        <activity android:name=".Activity.Home" />
        <activity android:name=".Activity.MainActivity" />
    </application>

</manifest>